body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  color: #333;
}

header {
  background: #004080;
  color: white;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1em;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* evita che l'immagine vada sotto se lo spazio è stretto */
}

.nav-container ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-nav ul {
  display: flex;
  gap: 1em;
  list-style: none;
  padding: 0;
  margin: 0;
}
.logo-right {
  margin-left: auto;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  text-align: center;
  padding: 3em 1em;
  background: #e0eaff;
}

.cta {
  display: inline-block;
  margin-top: 1em;
  padding: 0.75em 1.5em;
  background: #0073e6;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.features-preview {
  padding: 2em;
  background: white;
}

footer {
  text-align: center;
  padding: 1em;
  background: #004080;
  color: white;
}
.logo-right img {
  max-width: 150px; /* adatta la dimensione */
  height: auto;
}